
@{
    ViewBag.Title = "YiKuGuanli";
    Layout = "~/Views/MainPage.cshtml";
}

<link href="~/Css/bootstrap.min.css" rel="stylesheet" />


<div style=" border:0px solid #4cff00;width:95%;">
    <div style="height:50px;background-color:#e7e7e7;">
        <div style="width:150px;margin-left:15px;font-weight:600;padding-top:15px;color:#373737">移库管理</div>
    </div>
</div>
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid red">
        <button class="btn btn-default">所有</button>
        <button class="btn btn-default">待审核</button>
        <button class="btn btn-default">审核通过</button>
        <button class="btn btn-default">审核失败</button>
        <input class="btn btn-primary" type="button" value="新增" style="width:80px;margin-left:52%" />
        <input class="btn btn-danger" type="button" value="删除" style="width:80px;" />
        <input class="btn btn-info" type="button" value="导出" style="width:80px;" />

        <div style="padding-top:8px;display:flex;margin-bottom:20px">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入移库单号" style="width:170px;margin-right:10px" />
            <div style="padding-top:6px;margin-right:5px;">时间</div>
            <input type="password" class="form-control" id="exampleInputPassword1" style="width:170px;margin-right:10px">
            <div style="padding-top:6px;margin-right:5px;">-</div>
            <input type="password" class="form-control" id="exampleInputPassword1" style="width:170px;margin-right:10px">

            <input class="btn btn-info" type="button" value="搜索" style="width:80px;margin-right:5px" />
            <input class="btn btn-primary" type="button" value="高级搜索" style="width:100px;" />
        </div>

        <div style="">
            <table style="width:100%;" class="table table-striped">
                <tr style="font-weight:600">
                    <td>移库单编号</td>
                    <td>移库类型</td>
                    <td>关联单号</td>
                    <td>移库总数</td>
                    <td>移库人</td>
                    <td>状态</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>移库单编号</td>
                    <td>移库类型</td>
                    <td>关联单号</td>
                    <td>移库总数</td>
                    <td>移库人</td>
                    <td>状态</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>移库单编号</td>
                    <td>移库类型</td>
                    <td>关联单号</td>
                    <td>移库总数</td>
                    <td>移库人</td>
                    <td>状态</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
            </table>

            @*layui分页*@
            <div id="pageDome">

            </div>
        </div>


    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        xianshifenye();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 3
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    xianshifenye();
                }
            });
        });
</script>

